<div>

    <h2 translate="codingApp.seancePrive.home.title">SeancePrive</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveSeancePriveModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="codingApp.seancePrive.home.createLabel">Create a new SeancePrive</span>
    </button>
    <div class="modal fade" id="saveSeancePriveModal" tabindex="-1" role="dialog" aria-labelledby="mySeancePriveLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySeancePriveLabel" translate="codingApp.seancePrive.home.createOrEditLabel">Create or edit a SeancePrive</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="seancePrive.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="codingApp.seancePrive.titre">Titre</label>
                            <input type="text" class="form-control" name="titre"
                                   ng-model="seancePrive.titre">

                        </div>
                        <div class="form-group">
                            <label translate="codingApp.seancePrive.categorie">Categorie</label>
                            <input type="text" class="form-control" name="categorie"
                                   ng-model="seancePrive.categorie">

                        </div>
                        <div class="form-group">
                            <label translate="codingApp.seancePrive.sujet">Sujet</label>
                            <input type="text" class="form-control" name="sujet"
                                   ng-model="seancePrive.sujet">

                        </div>
                        <div class="form-group">
                            <label translate="codingApp.seancePrive.datedebut">Datedebut</label>
                            <input type="datetime-local" class="form-control" name="datedebut"
                                   ng-model="seancePrive.datedebut" ng-model-options="{timezone: 'UTC'}">

                            <div ng-show="editForm.datedebut.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.datedebut.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="codingApp.seancePrive.datefin">Datefin</label>
                            <input type="datetime-local" class="form-control" name="datefin"
                                   ng-model="seancePrive.datefin" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="codingApp.seancePrive.nbutilisateur">Nbutilisateur</label>
                            <input type="number" class="form-control" name="nbutilisateur"
                                   ng-model="seancePrive.nbutilisateur">

                        </div>

                        <div class="form-group">
                            <label translate="codingApp.seancePrive.user">user</label>
                            <select class="form-control" name="user" ng-model="seancePrive.user.id" ng-options="user.id as user.id for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSeancePriveConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(seancePrive.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="codingApp.seancePrive.delete.question" translate-values="{id: '{{seancePrive.id}}'}">Are you sure you want to delete this SeancePrive?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="codingApp.seancePrive.titre">Titre</th>
                    <th translate="codingApp.seancePrive.categorie">Categorie</th>
                    <th translate="codingApp.seancePrive.sujet">Sujet</th>
                    <th translate="codingApp.seancePrive.datedebut">Datedebut</th>
                    <th translate="codingApp.seancePrive.datefin">Datefin</th>
                    <th translate="codingApp.seancePrive.nbutilisateur">Nbutilisateur</th>
                    <th translate="codingApp.seancePrive.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seancePrive in seancePrives">
                    <td><a ui-sref="seancePriveDetail({id:seancePrive.id})">{{seancePrive.id}}</a></td>
                    <td>{{seancePrive.titre}}</td>
                    <td>{{seancePrive.categorie}}</td>
                    <td>{{seancePrive.sujet}}</td>
                    <td>{{seancePrive.datedebut}}</td>
                    <td>{{seancePrive.datefin}}</td>
                    <td>{{seancePrive.nbutilisateur}}</td>
                    <td>{{seancePrive.user.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="seancePriveDetail({id:seancePrive.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(seancePrive.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(seancePrive.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
